body {
    background-image: url("landbg.jpg");
    background-size: cover
}

* {
    text-align: center
}

h1 {
    font-size: 40px; 
    margin-bottom: 20px;
    color: white
}

button[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    border-radius: 200px;
    background-color: darkblue;
    color: white;
    border: none
}

button[type=submit]:hover,
button[type=submit]:active{
    background-color: darkred;
}

input[type=text]{
    width: 25%;
    line-height: 200%
}