body {
    background-color: beige
}

h1 {
    font-size: 40px; 
    margin-bottom: 20px;
    color: maroon;
}

h1, h4 {
    text-align: center;
}

h4 {
    color: navy;
}

h2 {
    text-decoration: underline;
}

.container {
    padding-bottom: 25px;
}

.left {
    width: 50%;
    float: left;
}
.right {
    width: 50%;
    float: right
}

.left-3 {
    width: 33%;
    float: left;
}
.right-3 {
    width: 33%;
    float: right;
    column-count: 
}
.center-3 {
    width: 33%;
    float: left;
}

.maininfo {
    text-align: left;
}

.clear {
  clear:both;
}

.row-info {
    display: inline-block;
    height: auto;
    width: 100%;
}

.row-contact {
    display:inline-block;
    height: auto;
    width: 100%;
}

